/* -----------------------------------------
    11. Global Mediaqueries
----------------------------------------- */

@media (min-width: 768px) {
    .gallery-columns-1 .gallery-item {
        float: left;
        width: 100%;
    }

    .gallery-columns-2 .gallery-item {
        float: left;
        width: 50%;
    }

    .gallery-columns-3 .gallery-item {
        float: left;
        width: 33.33333%;
    }

    .gallery-columns-4 .gallery-item {
        float: left;
        width: 25%;
    }

    .gallery-columns-5 .gallery-item {
        float: left;
        width: 20%;
    }

    .gallery-columns-6 .gallery-item {
        float: left;
        width: 16.66667%;
    }

    .gallery-columns-7 .gallery-item {
        float: left;
        width: 14.28571%;
    }

    .gallery-columns-8 .gallery-item {
        float: left;
        width: 12.5%;
    }

    .gallery-columns-9 .gallery-item {
        float: left;
        width: 11.11111%;
    }
}

@media (min-width: 992px) {
    .booking-form-inline div[class^="col"] {
        margin-bottom: 0;
    }

    .comment-form input {
        max-width: 60%;
    }
}
@media (max-width: 991px) {
    
    .mast-head-right {
        top: 20px;
        right: 15px;
    }
    .mast-head {
        padding: 20px 0;
    }
    .mast-head {
        padding: 0;
    }
    .site-logo img {
        padding: 10px 0;
    }
    .widget-wrap {
        background-position: left;
        background-size: cover;
        height: 450px;
        padding: 0px!important;
        min-height: 0!important;
    }
    .hero-content{
        padding: 116px 0;
    }
}

@media (max-width: 1199px) {
    .header .nav {
        display: none;
    }

    .header-alt .mobile-trigger {
        display: inline-block;
    }

    .header-alt #mobilemenu {
        display: block;
    }
}
@media (max-width: 991px) {
    /* .hero-content {
        margin: 80px 0;
    } */
    .header-default .mobile-trigger {
        display: inline-block;
    }

    .header .ci-dropdown-nav {
        display: none;
    }

    #mobilemenu {
        display: block;
    }

    .page-hero {
        height: 300px;
    }

    .page-title {
        padding-top: 165px;
    }

    .sidebar {
        margin-top: 40px;
    }

    .slide-video-wrap {
        display: none;
    }

    .item-inset:hover:before {
        border-width: 10px;
    }

    .item-inset-content h3 {
        font-size: 22px;
    }

    .item-inset-content .text-styled {
        margin: 0;
        font-size: 12px;
        margin-bottom: 15px;
    }

    .item-inset-content .btn,
    .item-inset-content .comment-reply-link {
        font-size: 11px;
        height: 34px;
        padding-top: 9px;
    }
}

@media (max-width: 767px) {
    input,
    textarea {
        width: 100%;
    }

    .home-slider .ci-direction-nav {
        display: none;
    }

    #comment-list ol {
        margin: 0;
        padding: 0;
    }

    .comment-author .avatar {
        display: none;
    }

    .comment-reply-link {
        margin: 0;
    }

    section.null-instagram-feed p.clear {
        display: none;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }

    .mast-head {
        max-height: 105px;
    }

    .mast-head .btn,
    .mast-head .comment-reply-link {
        display: none;
    }

    .header {
        height: 110px;
    }

    .mast-head-left {
        width: 65%;
        height: 100%;
    }

    .mast-head-right {
        width: 30%;
    }

    .ci-dropdown-language {
        display: none;
    }

    .resort-info {
        display: none;
    }

    .site-logo {
        white-space: nowrap;
        overflow: hidden;
        font-size: 20px;
    }

    .slide-title {
        font-size: 28px;
    }

    .main {
        padding: 50px 0;
    }

    .main.main-sections {
        padding: 0;
    }

    .widget-padded + .widget-padded,
    .widget-padded + .null-instagram-feed {
        margin-top: -60px;
    }

    section.widget {
        margin: 0 0 60px;
    }

    section.widget.widget-padded:last-child,
    section.widget.null-instagram-feed:last-child {
        margin-bottom: 0;
    }

    .widget-padded .widget-wrap {
        padding: 60px 0;
    }

    .widget-padded .widget-wrap.wrap-extra-pad {
        padding: 144px 0;
    }

    .main-sections .widget:first-child .widget-wrap {
        padding-top: 60px;
    }

    .section-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .text-lg {
        font-size: 17px;
    }

    .hero-content .section-title {
        font-size: 28px;
    }

    .hero-content .section-subtitle {
        font-size: 15px;
    }

    .box {
        width: 100%;
        margin: 0;
        float: none;
    }

    .box .item-inset {
        margin: 0 0 30px;
    }

    .box .item-inset:last-child {
        margin: 0 0 30px;
    }

    .box:last-of-type .item-inset:last-child {
        margin-bottom: 0;
    }

    .justified-gallery {
        margin-bottom: 30px;
    }

    .ci-map {
        height: 280px;
    }

    .trip-advisor-widget {
        margin-bottom: 30px;
    }

    .footer {
        text-align: center;
    }

    .footer .text-right {
        text-align: center;
    }

    .page-hero {
        height: 260px;
    }

    .page-title {
        padding-top: 150px;
        font-size: 26px;
    }

    .page-subtitle {
        font-size: 14px;
    }

    .entry-thumb {
        padding: 10px;
        margin-bottom: 20px;
    }

    .entry-title {
        font-size: 22px;
    }

    .entry-meta {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .room-slide-controls {
        margin: -35px -11px 0;
    }

    .room-slide-controls a {
        height: 70px;
    }

    .room-slide-controls a span {
        width: 20px;
        line-height: 70px;
        font-size: 24px;
    }

    .room-slide-img {
        display: none;
    }
}