/*===========amenities CSS=============*/ 

.hero-bg.less-height{
    height: 370px;
}
.hero-text{
    padding-top: 200px;
}

.sidebar-widget-bg{
    @extend %backgroundimage;
    @extend %sectionpadding;
}
.sidebar .sidebar-widget {
    border: 1px solid #D7D7D7;
    padding: 50px 20px;
    margin-bottom: 40px;
}
.sidebar h3 {
    color: inherit;
    margin: 0 0 8px;
    font-size: 24px;
}
.sidebar-widget-text h3 {
    font-size: 18px;
    line-height: normal;
    margin: 0 0 20px;
    color: #828282;
    letter-spacing: 0.14em;
}
.entry-content .boxed-btn {
    margin-top: 10px;
}
.entry-content .boxed-btn {
    margin-top: 10px;
}
.entry-content a:hover {
    color: red;
}
.entry-content .boxed-btn:hover {
    color: #fff;
}